.image-card{
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.124);
	backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.124);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    img {
        border-radius: 6px;
    }

    &__footer{
        height: 32px;
        // background-color: wheat;

        .ant-btn {

            // margin-top: auto;
            border-color: #7f6bce;
            background-color: #141414;
        }
    }
}